.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
